:root {
  --light: #fff;
  --dark: #191919;
  --accent-light: #eee;
  --accent-dark: #242424;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

ul { list-style: none; }

a {
  color: var(--font-color);
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.body {
  color: var(--font-color);
  font-weight: 400;
  background-color: var(--bg-color);
  transition: color, background-color .5s;
}

.body_dark {
  --font-color: var(--light);
  --bg-color: var(--dark);
  --accent: var(--accent-dark);
}

.body_light {
  --font-color: var(--dark);
  --bg-color: var(--light);
  --accent: var(--accent-light);
}

.main {
  height: 100vh;
  padding: 0 12px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-color: transparent;
  scrollbar-width: none;
  will-change: transform;
  -ms-overflow-style: none; 
  overflow-y: scroll;
}

.main::-webkit-scrollbar {
  display: none;
}

.theme-button {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 1px;
  background-color: transparent;
  background-image: url('https://img.icons8.com/?size=100&id=59841&format=png&color=111111');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 6px;
  left: calc(50% - 12px);
  cursor: pointer;
  z-index: 10;
  transition: transform .5s;
}

.theme-button_dark {
  background-image: url('https://img.icons8.com/?size=100&id=60002&format=png&color=ffffff');
}

.header {
  height: 100vh;
  display: grid;
  text-align: center;
  scroll-snap-align: start;
}

.lang-link {
  margin: 0 auto;
  color: var(--font-color);
}

.headline {
  height: 11rem;
  margin-top: 24px;
  font-size: 7.2rem;
  font-weight: 600;
  text-align: center;
  justify-self: center;
  position: relative;
}

.headline__label {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2.4rem;
  position: absolute;
}

.headline__label_left {
  top: -4px;
  left: 2px;
}

.headline__label_right {
  bottom: 0;
  right: 2px;
}

.subtitle {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 6px 12px;
  border: 1px solid var(--font-color);
  text-align: center;
  font-weight: 500;
  font-size: 2.4rem;
  box-shadow: 6px 6px var(--font-color);
}

.subtitle_animated {
  animation-name: shadowToRight;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

.cta-container {
  width: 100%;
  padding: 0 12px;
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.cta {
  width: 120px;
  height: 40px;
  padding-top: 8px;
  border-radius: 1px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow .5s;
  animation-duration: .5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

.cta_primary {
  border: 1px solid var(--font-color);
  color: var(--bg-color);
  background-color: var(--font-color);
  box-shadow: 6px 6px #333;
  animation-name: shadowToRight;
  animation-delay: 1.5s;
}

.cta_secondary {
  border: 1px solid var(--font-color);
  border-radius: 1px;
  box-shadow: -6px 6px #333;
  animation-name: shadowToLeft;
  animation-delay: .7s;
}

.picture-container {
  width: 89%;
  max-height: 40vh;
  justify-self: center;
  border-radius: 2px;
  position: relative;
  aspect-ratio: 3 / 4;
  animation-name: rotateClockwise;
  animation-delay: 1.2s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.picture-container::before {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #333;
  content: " ";
  position: absolute;
  z-index: -10;
  animation-name: rotateCounterClockwise;
  animation-delay: 1.2s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.picture {
  max-width: 500px;
  filter: grayscale(1);
  object-fit: cover;
}

.picture_position-top {
  object-position: center 15%;
}

.picture_position-bottom {
  object-position: center 70%;
}

.section {
  --project-color: #888;
  height: 100vh;
  margin-top: 20px;
  scroll-snap-align: start;
}

.section_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-container {
  width: 100%;
  height: 9vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 8px;
}

.section__title {
  text-align: right;
  font-size: 4rem;
  font-weight: 600;
}

.section__subtitle { margin-bottom: 6px; }

.section__container {
  height: 45vh;
}

.section__container_sm {
  height: 40vh;
}

.section__container_lg {
  height: 50vh;
}

.section__container_relative {
  position: relative;
}

.carousel {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.carousel__track {
  height: 100%;
  display: flex;
  gap: 2px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__track::-webkit-scrollbar {
  display: none;
}

.carousel__item {
  max-height: 100%;
  scroll-snap-align: start;
  display: flex;
  gap: 2px;
  flex: 0 0 100%;
  align-items: end;
  position: relative;
}

.mockup {
  max-height: 100%;
  max-width: 100%;
  border: 1px solid #888;
  border-radius: 12px;
  padding: 6px;
  background-color: #111;
  position: absolute;
  top: 0;
}

.mockup_mobile {
  width: auto;
  height: 100%;
  max-height: 350px;
  aspect-ratio: 9 / 16;
  z-index: 10;
}

.mockup_desktop {
  width: 100%;
  max-width: 520px;
  height: auto;
  aspect-ratio: 16 / 9;
  right: 0;
}

.carousel-btn {
  width: 28px;
  height: 28px;
  border: 1px solid var(--font-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: background 0.2s, transform 0.1s;
  transform: translateY(-50%);
  position: absolute;
  bottom: 10%;
  cursor: pointer;
  z-index: 20;
}

.carousel-btn:active { transform: translateY(-50%) scale(0.95); }

.btn-prev { left: 15px; }

.btn-next { right: 15px; }

.carousel-dots {
  width: 46px;
  height: 12px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: calc(50% - 23px);
  z-index: 20;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #d1d5db;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: #4b5563;
  transform: scale(1.2);
}

.projects-titles {
  height: 64px;
}

.tabs-container {
  height: calc(100% - 60px);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 2px;
}

.tabs-container_h-full {
  height: 100%;
}

.tabs-container input[type="radio"] {
  display: none;
}

.tab-title {
  margin: 12px 0;
  text-align: center;
}

.tab-label {
  width: 104px;
  border-bottom: 2px solid var(--font-color);
  border-radius: 1px;
  text-align: center;
  background-color: var(--accent);
  transition: background-color .3s;
  cursor: pointer;
  order: 2;
}

.tab-content {
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: none;
  justify-content: center;
  order: 1;
}

.tabs-container input[type="radio"]:checked + .tab-label + .tab-content {
  display: block;
  animation-name: fade;
  animation-duration: 1s;
}

.tabs-container input[type="radio"]:checked + .tab-label {
  font-weight: 500;
  border-bottom: 2px solid var(--project-color);
}

.expansion-panels {
  margin-top: 12px;
}

.expansion-panel {
  margin-top: 2px;
  border-left: 2px solid var(--font-color);
  border-radius: 0 2px 2px 0;
  background-color: var(--accent);
}

.expansion-panel[open] {
  margin: 12px 0;
  border-color: var(--project-color);
}

.expansion-panel summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
}

.expansion-panel .icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: #9ca3af;
  stroke-width: 2;
  transition: transform 0.2s ease, stroke 0.2s ease;
}

.expansion-panel[open] .icon {
  transform: rotate(180deg);
}

.content {
  padding: 12px;
}

.link {
  width: 100%;
  height: 48px;
  min-width: 360px;
  margin: 8px auto;
  border-radius: 1px;
  padding-left: 36px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 6px;
  background-size: 24px;
  position: relative;
}

.link::before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #191919;
  position: absolute;
  left: 6px;
  top: calc(50% - 12px);
  z-index: -1;
}

.link::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url('https://img.icons8.com/?size=100&id=60664&format=png&color=888888');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
  transition: transform .3s;
  position: absolute;
  right: 6px;
  top: calc(50% - 12px);
}

.link_email {
  background-image: url('https://img.icons8.com/?size=100&id=jicLxt1sA2qa&format=png&color=ffffff');
}

.link_linkedin {
  background-image: url('https://img.icons8.com/?size=100&id=60444&format=png&color=ffffff');
}

.link_github {
  background-image: url('https://img.icons8.com/?size=100&id=12599&format=png&color=ffffff');
}

.link_goodreads {
  background-image: url('https://img.icons8.com/?size=100&id=25849&format=png&color=ffffff');
}

.link_vercel {
  background-image: url('https://img.icons8.com/?size=100&id=2xFS7aynbwiR&format=png&color=ffffff');
}

.alert {
  margin-top: 12px;
  padding: 6px 0;
  border-radius: 2px;
  text-align: center;
  background-color: rgba(65, 184, 131, .1);
  color: var(--project-color);
  position: relative;
}

.project-title {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: all .3s;
  color: #8888;
}

.project-title_selected {
  background-color: var(--accent);
  color: var(--font-color);
  font-size: 2rem;
  position: relative;
}

.project-title_selected::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: 10px;
  border-radius: 1px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid var(--font-color); 
}

.mockup-container {
  height: 85%;
  width: 85%;
  position: absolute;
  top: 5%;
  left: 10%;
  transition: transform .3s;
  display: flex;
}

.mockup-container_slide {
  animation-name: slide;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@media (min-width: 576px) {

  .header {
    overflow: hidden;
    position: relative;
  }

  .headline {
    align-self: center;
  }

  .cta-container {
    justify-content: end;
    padding-bottom: 20px;
    align-self: center;
  }

  .cta {
    width: 160px;
    height: 50px;
    padding-top: 10px;
    font-size: 2rem;
  }

  .lang-link {
    position: absolute;
    bottom: 24px;
    left: 24px;
  }

  .picture-container {
    margin: 12px;
    align-self: stretch;
    max-height: 94vh;
    justify-self: end;
    grid-row: 1 / 5;
    aspect-ratio: 9 / 16;
  }

  .carousel { max-width: 710px; }

  .project-title { max-width: 710px; }

  .tabs-container { max-width: 710px; }

}

@media (min-width: 768px) {

  .headline {
    height: 12.6rem;
    font-size: 8.4rem;
  }

  .headline__label {
    font-size: 3rem;
  }

  .header__paragraph {
    width: 430px;
    margin: 0 auto;
  }

}

@media (max-width: 950px) and (orientation: landscape) {

  .theme-button {
    left: 12px;
  }

  .section_grid {
    display: grid;
    align-items: start;
    grid-template-rows: 1fr 11fr;
    grid-template-columns: 1fr 3fr;
  }

  .title-container {
    height: 16vh;
    grid-column: 1 / 3;
  }

  .section__container {
    height: 84vh;
    padding-top: 6px;
  }

  .mockup_desktop {
    display: none;
  }

  .tabs-container {
    padding-left: 12px;
    align-content: start;
    justify-content: space-between;
  }

  .tab-label {
    order: 0;
    width: 32%;
  }

  .link { min-width: 420px; }

}

@media (min-width: 1024px) {

  body, button, a {
    font-size: 2rem;
  }

  .theme-button {
    left: 12px;
  }

  .headline {
    height: 18rem;
    font-size: 12rem;
  }

  .section_grid {
    display: grid;
    grid-template-rows: 1fr 11fr;
    grid-template-columns: 3fr 2fr;
  }

  .title-container {
    height: 98px;
    grid-column: 1 / 3;
  }
  
  .section__title {
    font-size: 7rem;
  }
  
  .section__subtitle { margin-bottom: 12px; }
  
  .section__container {
    height: calc(100vh - 98px);
    height: 60vh;
    align-self: center;
  }

  .carousel-btn {
    width: 40px;
    height: 40px;
    bottom: 20%;
  }

  .tabs-container {
    align-content: start;
    justify-content: start;
  }

  .tab-label {
    order: 0;
  }

  .tabs-container {
    margin-top: 12px;
    padding-left: 12px;
  }

  .link { min-width: 420px; }

}

@media (any-hover: hover) {

  .theme-button:hover { transform: scale(1.2) rotate(45deg); }

  .cta:hover, .cta:focus { box-shadow: 12px 12px #444; }

  .cta_secondary:hover, .cta_secondary:focus { box-shadow: -12px 12px #444; }
  
  .link:hover { text-decoration: underline; }

  .link:hover::after { transform: scale(1.2); }

  .carousel-btn:hover { background: var(--accent); }

  .tab-label:hover {
    border-color: var(--project-color);
    font-weight: 500;
  }

  .project-title:hover {
    color: var(--font-color);
    cursor: pointer;
  }

  .project-title_selected:hover {
    cursor: default;
  }

}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slide {
  0% { transform: none; }

  50% { transform: translateX(900px); }

  100% { transform: none; }
}

@keyframes rotateClockwise {
  from { transform: rotate(0); }
  to { transform: rotate(2deg); }
}

@keyframes rotateCounterClockwise {
  from { transform: rotate(0); }
  to { transform: rotate(-4deg); }
}

@keyframes shadowToRight {
  from { box-shadow: none; }
  to { box-shadow: 6px 6px auto; }
}

@keyframes shadowToLeft {
  from { box-shadow: none; }
  to { box-shadow: -6px 6px black; }
}
